{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  table tr td:hover {
    cursor: pointer;
  }
</style>

<body>
  <div class="body-wrapper">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">Show Items Details</li>
        </ol>
      </nav>
      <div style="overflow-x:auto;">
        <div class="mb-3">
            <a href="{% url 'add_godown' %}" class="btn btn-primary">Add Item</a>
          </div>
        <div class="table-responsive">
          <table class="table mt-lg-5 mt-2 rounded" style="background-color: rgb(0, 0, 0); color: white;">
            <thead>
              <tr class="border-bottom border-dark">
                <th scope="col"><b>Date</b></th>
                <th scope="col"><b>Name</b></th>
                <th scope="col"><b>Item</b></th>
                <th scope="col"><b>Quantity</b></th>
                <th scope="col"><b>Status</b></th>
                <th scope="col"><b>Action</b></th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr class="border-bottom border-dark">
                  <td>{{ item.date }}</td>
                  <td>{{ item.godown_name }}</td>
                  <td>{{ item.item_name }}</td>
                  <td>{{ item.current_stock }}</td>
                  <td>{{ item.activation_tag }}</td>
                  <td>
                    <a href="#" style="color: white;">Delete</a>
                    <!-- Replace 'delete_item' with your actual URL name for the delete view -->
                  </td>
                </tr>
              {% endfor %}
              {% if items|length == 0 %}
                <tr class="border-bottom border-dark">
                  <td colspan="6">No items to display.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
