{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
  <div class="body-wrapper">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}" class="text-warning-emphasis">Dashboard</a></li>
          <li class="breadcrumb-item" aria-current="page">Show Godown Details</li>
        </ol>
      </nav>
      <div style="overflow-x:auto;">
        <div class="mb-3">
          <a href="{% url 'add_godown' %}" class="btn btn-primary">
            New <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table mt-lg-5 mt-2 rounded" style="background-color: rgb(0, 0, 0); color: white;">
            <thead>
              <tr class="border-bottom border-dark">
                <th scope="col"><b>Date</b></th>
                <th scope="col"><b>Name</b></th>
                <th scope="col"><b>Item</b></th>
                <th scope="col"><b>Quantity</b></th>
                <th scope="col"><b>Status</b></th>
                <th scope="col"><b>Action</b></th>
              </tr>
            </thead>
            <tbody>
              {% for godown in godowns %}
                <tr class="border-bottom border-dark">
                  <td>{{ godown.date }}</td>
                  <td>{{ godown.godown_name }}</td>
                  <td>{{ godown.item }}</td>
                  <td>{{ godown.stock_keeping }}</td>
                  <td></td>
                  <td>
                    <a href="#" style="color: white;">Delete</a>
                    <!-- Replace 'delete_godown' with your actual URL name for the delete view -->
                  </td>
                </tr>
              {% endfor %}
              {% if godowns|length == 0 %}
                <tr class="border-bottom border-dark">
                  <td colspan="6">No godowns to display.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
